<td class="product-description">
    <div class="description-data-container">
        {{!-- <div class="product-description-title">
            <h5>Product Description</h5>
        </div>
        <div class="description-params">
            <ul>
                {{#each description.params }}
                    {{#if value }}<li><strong>{{{ title }}}</strong> <span>{{{ value }}}</span></li>{{/if}}
                {{/each}}
            </ul>
            {{#if notes }}<p class="notes"><strong>{{ notes }}</strong></p>{{/if}}
            {{#if exceptions }}<p class="exceptions"><strong>{{ exceptions }}</strong></p>{{/if}}
        </div>
        <div class="subunit-list">
            <h5>Unit List</h5>
            {{#each description.subunits }}
                <div class="subunit">
                    <h6>{{ ref_num }}</h6>
                    <ul>
                        <li><strong>Size <small class="size-label">WxH</small></strong> <span>{{ size }}</span></li>
                        {{#if description }}<li><strong>Customer Description</strong> <span>{{ description }}</span></li>{{/if}}
                        {{#if notes }}<li><strong>Notes</strong> <span>{{ notes }}</span></li>{{/if}}
                    </ul>
                </div>
            {{/each}}
        </div> --}}
        <ul class="description-params">
            <li class="full-width">
                <h5>Product Description</h5>
            </li>
            {{#each description.params }}
                {{#if value }}<li><strong>{{{ title }}}</strong> <span>{{{ value }}}</span></li>{{/if}}
            {{/each}}
            {{#if notes }}<li class="full-width"><p class="notes"><strong>{{ notes }}</strong></p></li>{{/if}}
            {{#if exceptions }}<li class="full-width"><p class="exceptions"><strong>{{ exceptions }}</strong></p></li>{{/if}}
            <li class="full-width">
                <h5>Unit List</h5>
            </li>
            {{#each description.subunits }}
            <li class="full-width">
                <h6>{{ ref_num }}</h6>
            </li>
            <li><strong>Size <small class="size-label">WxH</small></strong> <span>{{ size }}</span></li>
            {{#if description }}<li><strong>Customer Description</strong> <span>{{ description }}</span></li>{{/if}}
            {{#if notes }}<li><strong>Notes</strong> <span>{{ notes }}</span></li>{{/if}}
            {{/each}}
        </ul>
    </div>
</td>
