<table class="quote-unit-heading">
    <tbody><tr>
        <td class="primary-info{{#if show_price }} has-price{{#if price.has_discounts }} has-discounted-price{{/if}}{{/if}}">
            <table>
                <tbody><tr>
                    <td class="ref_num">
                        <strong>Ref #</strong>
                        <span>{{ ref_num }}</span>
                    </td>
                    <td class="mark">
                        <strong>Mark</strong>
                        <span>{{ mark }}</span>
                    </td>
                    <td class="quantity">
                        <strong>Quantity</strong>
                        <span>{{ quantity }}</span>
                    </td>
                    <td class="configuration">
                        <strong>Multi-frame unit</strong>
                        <span>Frames assembled on site</span>
                    </td>
                </tr></tbody>
            </table>
        </td>
        {{#if show_price }}
            <td class="price">
                <ul class="unit-price">
                    <li class="unit">
                        <strong>Unit Price</strong>
                        <span class="value">{{ price.unit }}</span>
                    </li>
                    <li class="subtotal">
                        <strong>Subtotal</strong>
                        <span class="value">{{ price.subtotal }}</span>
                    </li>
                </ul>
            </td>
            {{#if price.has_discounts }}
            <td class="price-discounted">
                <ul class="unit-price">
                    {{#if price.unit_discounted }}<li class="unit">
                        <strong>Unit Price w/Disc.</strong>
                        <span class="value">{{ price.unit_discounted }}</span>
                    </li>
                    {{/if}}
                    {{#if price.subtotal_discounted }}<li class="subtotal">
                        <strong>Subtotal w/Disc.</strong>
                        <span class="value">{{ price.subtotal_discounted }}</span>
                    </li>
                    {{/if}}
                </ul>
            </td>
            {{/if}}
        {{/if}}
    </tr></tbody>
</table>

<table class="quote-unit multiunit layout-{{ responsive_mode }}{{#if customer_image }} has-customer-image{{/if}}">
    <tbody>
        {{#if description_separate_row }}
        <tr>
            @require( './partials/quote-multiunit-product-description.hbs' )
        </tr>
            {{#if customer_image }}
            <tr><td class="customer-image">
                @require( './partials/quote-unit-customer-image.hbs' )
            </td></tr>
            {{/if}}
        {{/if}}
        <tr>
        {{#if any_image }}
            <td class="product-visuals{{#unless product_image }} no-drawing{{/unless}}">
                <div class="product-visuals-container">
                    <div class="product-visuals-title">
                    {{#if product_image }}
                        <h5>Shop Drawing: <em>{{ product_image.title }}</em></h5>
                    {{else}}
                        <h5>Customer Image</h5>
                    {{/if}}
                    </div>

                    {{#if product_image }}
                    <div class="product-image-inner">
                        {{#if product_image.img }}
                            <div class="product-image-wrapper"><img src="{{ product_image.img }}" alt=""></div>
                        {{/if}}
                    </div>
                    {{/if}}

                    {{#unless description_separate_row }}
                    {{#if customer_image }}
                        @require( './partials/quote-unit-customer-image.hbs' )
                    {{/if}}
                    {{/unless}}
                </div>
            </td>
        {{/if}}
        {{#unless description_separate_row }}
            @require( './partials/quote-multiunit-product-description.hbs' )
        {{/unless}}
        </tr>
    </tbody>
</table>

<div class="subunits-container"></div>
