<div class="quote-header">
    <div class="mavrik-logo">
        <img src="/assets/img/Mavrik.png" alt="MAVRIK | BUILD WHAT'S NEXT">
    </div>
    <h1>Quotation</h1>
    <ul class="mavrik-info">
        <li class="mavrik-address"><strong>
55 Galley Hill Rd.</strong></li>
        <li class="mavrik-address"><strong> Cuddebackville, NY 12729</strong></li>
        <li class="mavrik-phone"><strong>347-352-2495</strong></li>
        <li class="mavrik-email"><strong><a href="mailto:team@mavrik.build">team@mavrik.build</a></strong></li>
        <li class="mavrik-web"><strong><a href="http://www.mavrik.build">www.mavrik.build</a></strong></li>
    </ul>
    <ul class="quote-info">
        <li class="quote-number"><strong>Quote #</strong> <span>{{ quote_number }}</span></li>
        {{#if quote_name }}<li class="quote-name"><strong>Quote Name</strong> <span>{{ quote_name }}</span></li>{{/if}}
        <li class="quote-date"><strong>Date</strong> <span>{{ quote_date }}</span></li>
        <li class="quote-revision"><strong>Revision #</strong> <span>{{ quote_revision_id }}</span></li>
    </ul>
</div>

<div class="quote-project-info">
    <h2 class="project-name">{{ project_name }}</h2>
    <h3 class="client-name">
        <small>Prepared for</small>
        <span>{{ client_name }}</span>
    </h3>
    <h4 class="client-company-name">{{ client_company_name }}</h4>
    <ul>
        <li class="client-phone"><strong>Phone:</strong> <span>{{ client_phone }}</span></li>
        <li class="client-email"><strong>Email:</strong> <span>{{ client_email }}</span></li>
        <li class="client-address"><strong>Address:</strong> <span>{{ client_address }}</span></li>
        <li class="project-address"><strong>Project Address:</strong> <span>{{ project_address }}</span></li>
    </ul>
</div>
