<div class="multiunit-titlebar">
    <strong>Multi-frame unit:</strong>
    <em>Frames assembled on site</em>
</div>
<table class="quote-unit-heading">
    <tbody><tr>
        <td class="primary-info{{#if show_price }} has-price{{#if price.has_discounts }} has-discounted-price{{/if}}{{/if}}">
            <table>
                <tbody><tr>
                    <td class="ref_num">
                        <strong>Ref #</strong>
                        <span>{{ ref_num }}</span>
                    </td>
                    <td class="mark">
                        <strong>Mark</strong>
                        <span>{{ mark }}</span>
                    </td>
                    <td class="quantity">
                        <strong>Quantity</strong>
                        <span>{{ quantity }}</span>
                    </td>
                </tr></tbody>
            </table>
        </td>
        {{#if show_price }}
            <td class="price">
                <ul class="unit-price">
                    <li class="unit">
                        <strong>Unit Price:</strong>
                        <span class="value">{{ price.unit }}</span>
                    </li>
                    <li class="subtotal">
                        <strong>Subtotal:</strong>
                        <span class="value">{{ price.subtotal }}</span>
                    </li>
                </ul>
            </td>
            {{#if price.has_discounts }}
            <td class="price-discounted">
                <ul class="unit-price">
                    {{#if price.unit_discounted }}<li class="unit">
                        <strong>Unit Price w/Disc.:</strong>
                        <span class="value">{{ price.unit_discounted }}</span>
                    </li>
                    {{/if}}
                    {{#if price.subtotal_discounted }}<li class="subtotal">
                        <strong>Subtotal w/Disc.:</strong>
                        <span class="value">{{ price.subtotal_discounted }}</span>
                    </li>
                    {{/if}}
                </ul>
            </td>
            {{/if}}
        {{/if}}
    </tr></tbody>
</table>

<table class="quote-unit multiunit">
    <thead>
    <tr>
        {{#if product_image }}
            <th class="product-image">Shop Drawing: <em>{{ product_image.title }}</em></th>
        {{else}}
            {{#if customer_image }}
                <th class="customer-image">Customer Image</th>
            {{/if}}
        {{/if}}
        <th class="product-description">Product Description</th>
    </tr>
    </thead>
    <tbody><tr>
        {{#if product_image }}
            <td class="product-image{{#if customer_image }} has-customer-image{{/if}}">
                <div class="product-image-inner">
                    {{#if product_image.img }}
                        <div class="image-wrapper"><img src="{{ product_image.img }}" alt=""></div>
                    {{/if}}
                </div>
                {{#if customer_image }}
                <div class="customer-image-inner">
                    <h5>Customer Image</h5>
                    <div class="image-wrapper"><img src="{{ customer_image }}" alt=""></div>
                </div>
                {{/if}}
            </td>
        {{else}}
            {{#if customer_image }}
            <td class="customer-image">
                <div class="customer-image-inner">
                    <div class="image-wrapper"><img src="{{ customer_image }}" alt=""></div>
                </div>
            </td>
            {{/if}}
        {{/if}}
        <td class="product-description">
            <ul>
                {{#each description.params }}
                    {{#if value }}<li><strong>{{{ title }}}:</strong> <span>{{{ value }}}</span></li>{{/if}}
                {{/each}}
            </ul>
            {{#if notes }}<p class="notes"><strong>{{ notes }}</strong></p>{{/if}}
            {{#if exceptions }}<p class="exceptions"><strong>{{ exceptions }}</strong></p>{{/if}}
            <div class="subunit-list">
                <h5>Unit List</h5>
                {{#each description.subunits }}
                    <div class="subunit">
                        <h6><em>{{ ref_num }}:</em> {{ mark }}</h6>
                        <ul>
                            <li><strong>Size <small class="size-label">WxH</small></strong> <span>{{ size }}</span></li>
                            {{#if description }}<li><strong>Customer Description:</strong> <span>{{ description }}</span></li>{{/if}}
                            {{#if notes }}<li><strong>Notes:</strong> <span>{{ notes }}</span></li>{{/if}}
                        </ul>
                    </div>
                {{/each}}
            </div>
        </td>
    </tr></tbody>
</table>

<div class="subunits-container"></div>
