<td class="ref">{{ reference_id }}</td>
<td class="product_image"></td>
<td class="product_description">
    <ul>
        {{#each description }}
        {{#if value }}<li class="{{ name }}"><strong>{{ title }}:</strong> <span>{{ value }}</span></li>{{/if}}
        {{/each}}
    </ul>
    {{#if notes }}<p class="notes"><strong>{{ notes }}</strong></p>{{/if}}
</td>
<td class="quantity">{{ quantity }}</td>

