<div class="windows-table">
    <div class="windows-table-title">
        <p>Windows list</p>
        <div class="windows-table-controls {{ table_visibility }} show-{{ mode }}">
            <button class="btn js-add-new-window add-new-window">Add new window</button>
            <button class="btn js-add-new-accessory add-new-accessory">Add new accessory</button>
        </div>
    </div>
    <div class="windows-table-contents {{ table_visibility }}">
        <div class="tab-container">
            <ul class="nav nav-tabs">
            {{#each tabs }}
                <li class="{{ @key }}{{#if is_active }} active{{/if}}"><a href="#{{ @key }}">{{ title }}</a></li>
            {{/each}}
            </ul>
        </div>
        <div class="handsontable-container"></div>
    </div>
</div>
