<h3>UI Settings</h3>

<ul>
{{#each params }}
    <li class="{{ @key }}" data-param="{{ @key }}">
        <h6 class="title">{{ title }}</h6>
        <div class="value">
        {{#each values_list }}
            {{#if is_active }}
                <p class="{{ name }}">{{ title }}</p>
            {{else}}
                <button class="btn btn-xs js-change-value" data-value="{{ name }}">Change to {{ title }}</button>
            {{/if}}
        {{/each}}
        </div>
    </li>
{{/each}}
</ul>
