<h3>Select unit</h3>

<select name="window-selector-dropdown" id="window-selector-dropdown" class="selectpicker" title='Choose a window'>
    {{#each window_list}}
        <option data-subtext="{{ dimensions }}" {{#if is_selected }}selected{{/if}} value="{{ cid }}">#{{ reference_id }}: <strong>{{ mark }}</strong></option>
    {{/each}}
</select>

{{#if active_window_image }}
    <div class="active-window-image">
        <img src="{{ active_window_image }}" alt="">
    </div>
{{/if}}

{{#if active_window_properties }}
    <div class="active-window-properties">
        <h4>Window properties</h4>
        <table>
            <tbody>
                {{#each active_window_properties }}
                <tr>
                    <td class="title">{{ title }}</td>
                    <td class="value">{{ value }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/if}}

{{#if active_window_profile_properties }}
    <div class="active-window-profile-properties">
        <h4>Profile properties</h4>
        <table>
            <tbody>
                {{#each active_window_profile_properties }}
                <tr>
                    <td class="title">{{ title }}</td>
                    <td class="value">{{ value }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/if}}
