<button class="js-sidebar-toggle sidebar-toggle glyphicon glyphicon-forward"></button>

<h3>Select Unit</h3>

<div class="unit-selector-controls">
    <div class="unit-selector-select">
        <select name="unit-selector-dropdown" id="unit-selector-dropdown" class="selectpicker" title='Choose a unit'>
            {{#each unit_list}}
                <option class="{{ unit_relation }}" data-subtext="{{ dimensions }}" {{#if is_selected }}selected{{/if}} value="{{ cid }}">#{{ reference_id }}: <strong>{{ mark }}</strong></option>
            {{/each}}
        </select>
    </div>

    <div class="unit-selector-buttons">
        <button class="js-prev-unit glyphicon glyphicon-chevron-left"></button>
        <button class="js-next-unit glyphicon glyphicon-chevron-right"></button>
    </div>
</div>

{{#if selected_subunit_cid }}
<div class="extra-unit-selector-buttons">
    <button class="js-edit-selected-subunit">Edit selected subunit</button>
</div>
{{else if parent_multiunit_cid }}
<div class="extra-unit-selector-buttons">
    <button class="js-edit-parent-multiunit">Edit parent multiunit</button>
</div>
{{/if}}

<div class="unit-details-container"></div>
