<div>
        <div class="row">
            <span class="title"> Project Name: </span> {{project_name}}
        </div>
        <div class="row">
            <span class="title">Client Name:</span> {{client_name}}
        </div>
        <div class="row">
            <span class="title">Company:</span> {{client_company_name}}
        </div>
        <div class="row">
            <span class="title">Phone:</span> {{client_phone}}
        </div>
        <div class="row">
            <span class="title">Email:</span> {{client_email}}
        </div>
        <div class="row">
            <span class="title">Client Address:</span> {{client_address}}
        </div>
        <div class="row">
            <span class="title">Project Address:</span> {{project_address}}
        </div>
</div>
