<div class="quote-outer-container">
    <div class="quote-container">
        {{!-- <div class="quote-header">
            <p>Quotation</p>
        </div> --}}

        <div class="quote-project-info">
            <h2 class="project-name">{{ project_name }}</h2>
            <h3 class="client-name"><small>Prepared for:</small> <span>{{ client_name }}</span></h3>
            <h4 class="client-company-name">{{ client_company_name }}</h4>
            <ul>
                <li class="client-phone"><strong>Phone:</strong> <span>{{ client_phone }}</span></li>
                <li class="client-email"><strong>Email:</strong> <span>{{ client_email }}</span></li>
                <li class="client-address"><strong>Address:</strong> <span>{{ client_address }}</span></li>
                <li class="project-address"><strong>Project Address:</strong> <span>{{ project_address }}</span></li>
            </ul>
        </div>

        <div class="quote-table-container"></div>
    </div>
</div>
