<td class="ref">{{ reference_id }}</td>
{{!-- <td class="product_image"></td> --}}
<td class="product_description">{{ description }}</td>
<td class="quantity">{{ quantity }}</td>
<td class="price">
    <table class="unit-price">
        <tbody>
            {{!-- <tr class="unit">
                <td>Unit price:</td>
                <td class="value">{{ price.unit }}</td>
            </tr> --}}
            <tr class="subtotal">
                <td>Subtotal:</td>
                <td class="value">{{ price.subtotal }}</td>
            </tr>
        </tbody>
    </table>
</td>

