<td class="ref">{{ id }}</td>
<td class="product_image"></td>
<td class="product_description">
    <ul>
        {{#each description }}
        <li class="{{ name }}"><strong>{{ title }}:</strong> <span>{{ value }}</span></li>
        {{/each}}
    </ul>
</td>
<td class="quantity">{{ quantity }}</td>
<td class="price">
    <p class="unit">Unit price: {{ price.unit }}</p>
    <p class="subtotal">Subtotal: {{ price.total }}</p>
</td>

