{{#if heading }}<h3 class="{{#unless items_count }} hidden{{/unless}}">{{ heading }}</h3>{{/if}}

<table class="quote-extras-table {{#unless items_count }} hidden{{/unless}}">
    <thead>
        <tr>
            {{#each table_attributes }}
            <th class="{{ name }}">{{ title }}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody class="quote-extras-table-body"></tbody>
    <tfoot>
        <tr>
            <td colspan="{{ footer_colspan }}"></td>
            <td colspan="1">
                <table class="quote-total-prices">
                    <tbody>
                        {{!-- <tr>
                            <td><strong>Subtotal</strong></td>
                            <td class="value"><span>{{ total_prices.subtotal }}</span></td>
                        </tr> --}}
                        {{!-- <tr>
                            <td><strong>Shipping</strong></td>
                            <td class="value"><span>{{ total_prices.shipping }}</span></li></td>
                        </tr> --}}
                        <tr class="total">
                            <td><strong>Total extras</strong></td>
                            <td class="value"><strong>{{ total_prices.total }}</strong></li></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tfoot>
</table>

