<table class="quote-unit{{#unless show_customer_image}} no-customer-image{{/unless}}">
    <thead>
        <tr>
            {{#each table_attributes }}
            <th class="{{ name }}">{{{ title }}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody><tr>
        <td class="mark">{{ mark }}</td>
        {{#if show_customer_image }}
        <td class="customer_image">
            {{#if customer_image }}
            <div class="image-wrapper"><img src="{{ customer_image }}" alt=""></div>
            {{/if}}
        </td>
        {{/if}}
        <td class="product_image">
            {{#if product_image }}
            <div class="image-wrapper"><img src="{{ product_image }}" alt=""></div>
            {{/if}}
        </td>
        <td class="product_description">
            <ul>
                {{#each description.params }}
                {{#if value }}<li class="{{ name }}"><strong>{{ title }}:</strong> <span>{{ value }}</span></li>{{/if}}
                {{/each}}
            </ul>
            {{#if notes }}<p class="notes"><strong>{{ notes }}</strong></p>{{/if}}
            <ul>
                {{#each description.sashes }}
                <li class="opening">
                    <h6>{{ name }}:</h6>
                    <p><strong>Type:</strong> <span>{{ type }}</span></p>
                    {{#if opening_size }}<p><strong>Clear Opening:</strong> <span>{{{ opening_size }}} </span></p>{{/if}}
                    <p><strong>Glazing/Panel:</strong> <span>{{ glazing_type }}</span></p>
                    <p><strong>Glazing/Panel Visible Size:</strong> <span>{{{ glazing_size }}}</span></p>
                </li>
                {{/each}}
            </ul>
        </td>
        <td class="quantity">{{ quantity }}</td>
        {{#if show_price }}
        <td class="price">
            <table class="unit-price">
                <tbody>
                    <tr class="unit">
                        <td>Unit price:</td>
                        <td class="value">{{ price.unit }}</td>
                    </tr>
                    <tr class="subtotal">
                        <td>Subtotal:</td>
                        <td class="value">{{ price.subtotal }}</td>
                    </tr>
                    {{#if price.discount }}<tr class="discount">
                        <td>Discount:</td>
                        <td class="value">{{ price.discount }}</td>
                    </tr>
                    {{/if}}
                    {{#if price.subtotal_discounted }}<tr class="subtotal">
                        <td>Subtotal w/Discount:</td>
                        <td class="value">{{ price.subtotal_discounted }}</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </td>
        {{/if}}
    </tr></tbody>
</table>
